body {
  background-color: rgba(0, 0, 0, 0);
  text-align: center;
}

p#quote {
  font-family: "Satisfy";
  color: rgba(85, 85, 85, 0.5);
  font-style: italic;
  font-size: 36px;
  font-weight: 300;
  width: 80%;
  margin: auto;
  line-height: 45px;
  padding-bottom: 20px;
  padding-top: 50px;
}

p#author {
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 6px;
  color: rgba(85, 85, 85, 0.5);
  padding-bottom: 15px;
}