html {
  height: 100%;
}

body {
  background-color: rgba(0, 0, 0, 0);
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
  color: rgb(85, 85, 85);
  text-transform: lowercase;
  text-align: center;
}

p {
  font-size: 14px;
}

h1, h3, h4 {
  font-family: "Domine";
}

h4 {
  font-size: 20px;
  font-weight: 300;
}

p#author {
  color: rgba(85, 85, 85, 0.5);
  font-size: 10px;
  letter-spacing: 2px;
}

/* header box */
.header {
  text-align: center;
  margin: auto;
  padding-top: 3%;
  width: 100%;
  background: rgb(255, 255, 255);
  padding-bottom: 10px;
}

.header h1 {
  letter-spacing: -2px;
  color: rgb(85, 85, 85);
  background: rgba(0,0,0,0.05);
  font-size: 46px;
  padding-bottom: 10px;
  height: 48px;
  margin: auto;
}

.header h1 a {
  color: rgb(85, 85, 85);
  background: rgba(0,0,0,0.00);
  text-decoration: none;
}

.header h2 {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 100;
  letter-spacing: 1px;
  color: rgb(85, 85, 85);
}

.menu a {
  color: rgb(151, 63, 88);
}

.menu a:hover {
  color: rgb(151, 63, 88);
  font-size: 14px;
  background-color: rgba(0,0,0,0.05);
  padding: 2px;
  text-decoration: none;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;
}

/* main box */
.main {
  width: 100%;
  height: 100%;
  background: rgba(32, 46, 85, 0.9);
  padding-top: 5px;
  padding-bottom: 15px;
  text-align: justify;
  color: rgb(255, 255, 255);
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.6);
  vertical-align: center;
} 

.main h3 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  letter-spacing: 2px;
  margin-bottom: 0px;
}

.main p {
  font-size: 14px;
  letter-spacing: 1px;
  color: rgb(195, 199, 210);
  line-height: 18px;
}

/* containing headshot & bio */
.contain {
  width: 80%;
  margin: auto;
}

.contain a {
  background: rgba(195, 199, 210, 0.4);
  border-radius: 20px;
  padding: 5px 10px 5px 10px;
  color: rgba(255, 255, 255, 0.8);
  font-weight: 300;
  border: none;
  letter-spacing: 1px;
  font-size: 10px;
}

.contain a:hover {
  background: rgba(151, 63, 88, 0.7);
  text-decoration: none;
  border-radius: 20px;
  color: rgba(255, 255, 255, 1);
  font-weight: 300;
}

/* headshot box */
.headshot {
  float: left;
  margin-top: -20px;
  text-align: center;
  padding: 10px 10px 0px 0px;
}

.headshot img {
  width: 75px;
  border-radius: 50%;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.1), 0 1px 30px 0 rgba(0, 0, 0, 0.4);
}

/* bio box */
.bio {
  height: 190px;
  padding-left: 20px;
  align-content: center;
  overflow: hidden;
  display: table-cell;
  vertical-align: middle;
}

/* content box */
.content {
  background-color: rgba(0,0,0,0.05);
  height: 100%;
  width: 70%;
  padding: 5% 5% 10% 5%;
  margin: auto;
  bottom: 0px;
  -webkit-box-flex: 1; /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1; /* OLD - Firefox 19- */
  -webkit-flex: 1; /* Chrome */
  -ms-flex: 1; /* IE 10 */
  flex: 1; /* NEW, */}

iframe {
  border: 0px;
  width: 100%;
}


/* footber box */
.footer {
  background: rgba(47, 47, 47, 0.85);
  padding-top: 6px;
  padding-bottom: 3px;
  text-align: center;
  font-size: 10px;
  color: rgba(255, 255, 255, 0.4);
  box-shadow: 0 5px 1px 0 rgba(0, 0, 0, 0.2), 0 2px 20px 0 rgba(0, 0, 0, 0.6);
  position: fixed;
  bottom: 0px;
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* for tablets: */
  h4 {
    font-size:  28px;
    padding-bottom: 10px;
  }
  p {
    font-size:  18px;
    font-size-adjust: auto;
  }
  p#author {
    font-size: 18px;
  }
  .header {
    padding-bottom: 20px;
    width: 85%;
  }
  .header h1 {
    height: 76px;
    max-width: 800px;
  }
  .header h1 a {
    font-size: 72px;
    letter-spacing: 2px;
  }
  .header h2 {
    font-size: 24px;
    letter-spacing: 3px;
  }
  .menu a:hover {
    font-size: 20px;
  }
  .main {
    height: 220px;
    vertical-align: middle;
  }
  .contain {
    max-width: 790px;
  }
  .headshot {
    margin-right: 10px;
  }
  .headshot img {
    width: 250px;
    margin-top: -25px;
  }
  .content {
    max-width: 700px;
    margin: auto;
  }
  .footer {
    padding-top: 12px;
    padding-bottom: 12px;
    font-size: 12px;  
  }
}

@media only screen and (min-width: 950px) {
  /* for tablets: */
  .main {
    font-size:  28px;
    font-size-adjust: auto;
  }